div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}

div#obj17649 {
position: absolute;
overflow: hidden;
top: 384px;
left: -244px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 9;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj18082 {
position: absolute;
overflow: hidden;
top: -44px;
left: 1610px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 28;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj18092 {
position: absolute;
overflow: hidden;
top: 90px;
left: 1614px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 29;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj18099 {
position: absolute;
overflow: hidden;
top: 90px;
left: 1614px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 41;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj18181 {
position: absolute;
overflow: hidden;
top: 90px;
left: 1614px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 50;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj18319 {
position: absolute;
overflow: hidden;
top: 90px;
left: 1614px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 62;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj18257 {
position: absolute;
overflow: hidden;
top: 90px;
left: 1614px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 71;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj18473 {
position: absolute;
overflow: hidden;
top: 90px;
left: 1614px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 83;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj18409 {
position: absolute;
overflow: hidden;
top: 90px;
left: 1614px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 92;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj18635 {
position: absolute;
overflow: hidden;
top: 90px;
left: 1614px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 104;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj18569 {
position: absolute;
overflow: hidden;
top: 90px;
left: 1614px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 113;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj17616 {
position: absolute;
overflow: hidden;
top: 78px;
left: 53px;
width: 1354px;
height: 744px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj17616_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1354px;
	height: 744px;
}
div#obj17618 {
position: absolute;
overflow: hidden;
top: 830px;
left: 9px;
width: 1440px;
height: 71px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj17618_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 71px;
}
div#obj17620 {
position: absolute;
overflow: hidden;
top: 843px;
left: 24px;
width: 50px;
height: 46px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj17620_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 46px;
}
div#obj17623 {
position: absolute;
overflow: hidden;
top: 843px;
left: 1363px;
width: 50px;
height: 45px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj17623_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 45px;
}
div#obj17630 {
position: absolute;
overflow: hidden;
top: 6px;
left: 8px;
width: 106px;
height: 44px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj17630_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 106px;
	height: 44px;
}
div#obj17633 {
position: absolute;
overflow: hidden;
top: 10px;
left: 1325px;
width: 77px;
height: 56px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj17633_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 77px;
	height: 56px;
}
div#obj17639 {
position: absolute;
overflow: hidden;
top: 10px;
left: 1325px;
width: 77px;
height: 56px;
opacity: 1;
z-index: 8;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj17639_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 77px;
	height: 56px;
}

div#obj17655 {
position: absolute;
overflow: hidden;
top: 140px;
left: 100px;
width: 1245px;
height: 77px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-size: 34px;
text-align: left;
}

div#obj17655_content {

}
div#obj17999 {
position: absolute;
overflow: hidden;
top: 247px;
left: 132px;
width: 82px;
height: 85px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj17999_content {

}
div#obj18001 {
position: absolute;
overflow: hidden;
top: 242px;
left: 354px;
width: 96px;
height: 90px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18001_content {

}
div#obj18003 {
position: absolute;
overflow: hidden;
top: 241px;
left: 587px;
width: 90px;
height: 90px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18003_content {

}
div#obj18005 {
position: absolute;
overflow: hidden;
top: 243px;
left: 250px;
width: 82px;
height: 85px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18005_content {

}
div#obj18007 {
position: absolute;
overflow: hidden;
top: 243px;
left: 474px;
width: 82px;
height: 85px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18007_content {

}
div#obj18009 {
position: absolute;
overflow: hidden;
top: 370px;
left: 132px;
width: 82px;
height: 90px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18009_content {

}
div#obj18011 {
position: absolute;
overflow: hidden;
top: 372px;
left: 249px;
width: 82px;
height: 85px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18011_content {

}
div#obj18013 {
position: absolute;
overflow: hidden;
top: 369px;
left: 354px;
width: 96px;
height: 90px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18013_content {

}
div#obj18015 {
position: absolute;
overflow: hidden;
top: 371px;
left: 474px;
width: 82px;
height: 85px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18015_content {

}
div#obj18019 {
position: absolute;
overflow: hidden;
top: 371px;
left: 587px;
width: 90px;
height: 89px;
opacity: 1;
z-index: 21;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj18019_content {

}
div#obj18021 {
position: absolute;
overflow: hidden;
top: 371px;
left: 587px;
width: 90px;
height: 89px;
opacity: 1;
z-index: 22;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj18021_content {

}
div#obj18030 {
position: absolute;
overflow: hidden;
top: 668px;
left: 331px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18030_content {

}
div#obj18043 {
position: absolute;
overflow: hidden;
top: 668px;
left: 506px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 24;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18043_content {

}
div#obj18052 {
position: absolute;
overflow: hidden;
top: 668px;
left: 687px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 25;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18052_content {

}
div#obj18066 {
position: absolute;
overflow: hidden;
top: 667px;
left: 868px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 26;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18066_content {

}
div#obj18075 {
position: absolute;
overflow: hidden;
top: 667px;
left: 1048px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 27;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18075_content {

}
div#obj18165 {
position: absolute;
overflow: hidden;
top: 509px;
left: 249px;
width: 82px;
height: 85px;
opacity: 1;
z-index: 30;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18165_content {

}
div#obj18163 {
position: absolute;
overflow: hidden;
top: 506px;
left: 354px;
width: 96px;
height: 90px;
opacity: 1;
z-index: 31;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18163_content {

}
div#obj18161 {
position: absolute;
overflow: hidden;
top: 508px;
left: 474px;
width: 82px;
height: 85px;
opacity: 1;
z-index: 32;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18161_content {

}
div#obj18152 {
position: absolute;
overflow: hidden;
top: 507px;
left: 128px;
width: 90px;
height: 89px;
opacity: 1;
z-index: 34;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj18152_content {

}
div#obj18150 {
position: absolute;
overflow: hidden;
top: 507px;
left: 128px;
width: 90px;
height: 89px;
opacity: 1;
z-index: 35;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj18150_content {

}
div#obj18143 {
position: absolute;
overflow: hidden;
top: 668px;
left: 331px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 36;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18143_content {

}
div#obj18136 {
position: absolute;
overflow: hidden;
top: 668px;
left: 506px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 37;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18136_content {

}
div#obj18127 {
position: absolute;
overflow: hidden;
top: 668px;
left: 687px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 38;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18127_content {

}
div#obj18120 {
position: absolute;
overflow: hidden;
top: 667px;
left: 868px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 39;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18120_content {

}
div#obj18113 {
position: absolute;
overflow: hidden;
top: 667px;
left: 1048px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 40;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18113_content {

}
div#obj18227 {
position: absolute;
overflow: hidden;
top: 503px;
left: 586px;
width: 90px;
height: 89px;
opacity: 1;
z-index: 43;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj18227_content {

}
div#obj18225 {
position: absolute;
overflow: hidden;
top: 503px;
left: 586px;
width: 90px;
height: 89px;
opacity: 1;
z-index: 44;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj18225_content {

}
div#obj18218 {
position: absolute;
overflow: hidden;
top: 668px;
left: 331px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 45;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18218_content {

}
div#obj18211 {
position: absolute;
overflow: hidden;
top: 668px;
left: 506px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 46;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18211_content {

}
div#obj18202 {
position: absolute;
overflow: hidden;
top: 668px;
left: 687px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 47;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18202_content {

}
div#obj18195 {
position: absolute;
overflow: hidden;
top: 667px;
left: 868px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 48;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18195_content {

}
div#obj18188 {
position: absolute;
overflow: hidden;
top: 667px;
left: 1048px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 49;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18188_content {

}
div#obj18385 {
position: absolute;
overflow: hidden;
top: 244px;
left: 895px;
width: 82px;
height: 85px;
opacity: 1;
z-index: 51;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18385_content {

}
div#obj18383 {
position: absolute;
overflow: hidden;
top: 241px;
left: 1000px;
width: 96px;
height: 90px;
opacity: 1;
z-index: 52;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18383_content {

}
div#obj18381 {
position: absolute;
overflow: hidden;
top: 243px;
left: 1120px;
width: 82px;
height: 85px;
opacity: 1;
z-index: 53;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18381_content {

}
div#obj18365 {
position: absolute;
overflow: hidden;
top: 241px;
left: 1232px;
width: 87px;
height: 89px;
opacity: 1;
z-index: 55;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj18365_content {

}
div#obj18363 {
position: absolute;
overflow: hidden;
top: 241px;
left: 1232px;
width: 87px;
height: 89px;
opacity: 1;
z-index: 56;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj18363_content {

}
div#obj18356 {
position: absolute;
overflow: hidden;
top: 668px;
left: 331px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 57;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18356_content {

}
div#obj18349 {
position: absolute;
overflow: hidden;
top: 668px;
left: 506px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 58;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18349_content {

}
div#obj18340 {
position: absolute;
overflow: hidden;
top: 668px;
left: 687px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 59;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18340_content {

}
div#obj18333 {
position: absolute;
overflow: hidden;
top: 667px;
left: 868px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 60;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18333_content {

}
div#obj18326 {
position: absolute;
overflow: hidden;
top: 667px;
left: 1048px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 61;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18326_content {

}
div#obj18303 {
position: absolute;
overflow: hidden;
top: 241px;
left: 778px;
width: 90px;
height: 89px;
opacity: 1;
z-index: 64;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj18303_content {

}
div#obj18301 {
position: absolute;
overflow: hidden;
top: 241px;
left: 778px;
width: 90px;
height: 89px;
opacity: 1;
z-index: 65;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj18301_content {

}
div#obj18294 {
position: absolute;
overflow: hidden;
top: 668px;
left: 331px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 66;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18294_content {

}
div#obj18287 {
position: absolute;
overflow: hidden;
top: 668px;
left: 506px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 67;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18287_content {

}
div#obj18280 {
position: absolute;
overflow: hidden;
top: 668px;
left: 687px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 68;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18280_content {

}
div#obj18273 {
position: absolute;
overflow: hidden;
top: 667px;
left: 868px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 69;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18273_content {

}
div#obj18264 {
position: absolute;
overflow: hidden;
top: 667px;
left: 1048px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 70;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18264_content {

}
div#obj18541 {
position: absolute;
overflow: hidden;
top: 371px;
left: 895px;
width: 82px;
height: 85px;
opacity: 1;
z-index: 72;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18541_content {

}
div#obj18539 {
position: absolute;
overflow: hidden;
top: 368px;
left: 1000px;
width: 96px;
height: 90px;
opacity: 1;
z-index: 73;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18539_content {

}
div#obj18537 {
position: absolute;
overflow: hidden;
top: 370px;
left: 1120px;
width: 82px;
height: 85px;
opacity: 1;
z-index: 74;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18537_content {

}
div#obj18519 {
position: absolute;
overflow: hidden;
top: 371px;
left: 779px;
width: 87px;
height: 89px;
opacity: 1;
z-index: 76;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj18519_content {

}
div#obj18517 {
position: absolute;
overflow: hidden;
top: 371px;
left: 779px;
width: 87px;
height: 89px;
opacity: 1;
z-index: 77;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj18517_content {

}
div#obj18508 {
position: absolute;
overflow: hidden;
top: 668px;
left: 331px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 78;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18508_content {

}
div#obj18501 {
position: absolute;
overflow: hidden;
top: 668px;
left: 506px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 79;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18501_content {

}
div#obj18494 {
position: absolute;
overflow: hidden;
top: 668px;
left: 687px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 80;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18494_content {

}
div#obj18487 {
position: absolute;
overflow: hidden;
top: 667px;
left: 868px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 81;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18487_content {

}
div#obj18480 {
position: absolute;
overflow: hidden;
top: 667px;
left: 1048px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 82;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18480_content {

}
div#obj18455 {
position: absolute;
overflow: hidden;
top: 368px;
left: 1230px;
width: 90px;
height: 89px;
opacity: 1;
z-index: 85;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj18455_content {

}
div#obj18453 {
position: absolute;
overflow: hidden;
top: 368px;
left: 1230px;
width: 90px;
height: 89px;
opacity: 1;
z-index: 86;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj18453_content {

}
div#obj18446 {
position: absolute;
overflow: hidden;
top: 668px;
left: 331px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 87;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18446_content {

}
div#obj18439 {
position: absolute;
overflow: hidden;
top: 668px;
left: 506px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 88;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18439_content {

}
div#obj18432 {
position: absolute;
overflow: hidden;
top: 668px;
left: 687px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 89;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18432_content {

}
div#obj18425 {
position: absolute;
overflow: hidden;
top: 667px;
left: 868px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 90;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18425_content {

}
div#obj18416 {
position: absolute;
overflow: hidden;
top: 667px;
left: 1048px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 91;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18416_content {

}
div#obj18705 {
position: absolute;
overflow: hidden;
top: 506px;
left: 894px;
width: 82px;
height: 85px;
opacity: 1;
z-index: 93;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18705_content {

}
div#obj18703 {
position: absolute;
overflow: hidden;
top: 503px;
left: 999px;
width: 96px;
height: 90px;
opacity: 1;
z-index: 94;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18703_content {

}
div#obj18701 {
position: absolute;
overflow: hidden;
top: 505px;
left: 1119px;
width: 82px;
height: 85px;
opacity: 1;
z-index: 95;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18701_content {

}
div#obj18681 {
position: absolute;
overflow: hidden;
top: 504px;
left: 1231px;
width: 87px;
height: 89px;
opacity: 1;
z-index: 97;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj18681_content {

}
div#obj18679 {
position: absolute;
overflow: hidden;
top: 504px;
left: 1231px;
width: 87px;
height: 89px;
opacity: 1;
z-index: 98;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj18679_content {

}
div#obj18670 {
position: absolute;
overflow: hidden;
top: 668px;
left: 331px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 99;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18670_content {

}
div#obj18663 {
position: absolute;
overflow: hidden;
top: 668px;
left: 506px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 100;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18663_content {

}
div#obj18656 {
position: absolute;
overflow: hidden;
top: 668px;
left: 687px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 101;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18656_content {

}
div#obj18649 {
position: absolute;
overflow: hidden;
top: 667px;
left: 868px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 102;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18649_content {

}
div#obj18642 {
position: absolute;
overflow: hidden;
top: 667px;
left: 1048px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 103;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18642_content {

}
div#obj18615 {
position: absolute;
overflow: hidden;
top: 505px;
left: 778px;
width: 90px;
height: 89px;
opacity: 1;
z-index: 106;
display:none;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj18615_content {

}
div#obj18613 {
position: absolute;
overflow: hidden;
top: 505px;
left: 778px;
width: 90px;
height: 89px;
opacity: 1;
z-index: 107;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj18613_content {

}
div#obj18606 {
position: absolute;
overflow: hidden;
top: 668px;
left: 331px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 108;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18606_content {

}
div#obj18597 {
position: absolute;
overflow: hidden;
top: 668px;
left: 506px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 109;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18597_content {

}
div#obj18590 {
position: absolute;
overflow: hidden;
top: 668px;
left: 687px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 110;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18590_content {

}
div#obj18583 {
position: absolute;
overflow: hidden;
top: 667px;
left: 868px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 111;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18583_content {

}
div#obj18576 {
position: absolute;
overflow: hidden;
top: 667px;
left: 1048px;
width: 88px;
height: 85px;
opacity: 1;
z-index: 112;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
text-align: center;
}

div#obj18576_content {

}
div#obj17647 {
position: absolute;
overflow: hidden;
top: 44px;
left: 696px;
width: 614px;
height: 405px;
opacity: 1;
z-index: 115;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-size: 34px;
text-align: center;
}

div#obj17647_content {

}



div#obj17626 {
position: absolute;
overflow: hidden;
top: 0px;
left: 125px;
width: 1315px;
height: 58px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #38B581;
background-repeat: repeat;
}
div#obj17628 {
position: absolute;
overflow: hidden;
top: -1px;
left: 0px;
width: 123px;
height: 58px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #38B581;
background-repeat: repeat;
}
div#obj18017 {
position: absolute;
overflow: hidden;
top: 371px;
left: 587px;
width: 90px;
height: 89px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: rgba(255,255,255,0);
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18154 {
position: absolute;
overflow: hidden;
top: 507px;
left: 128px;
width: 90px;
height: 89px;
opacity: 1;
z-index: 33;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: rgba(255,255,255,0);
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18229 {
position: absolute;
overflow: hidden;
top: 506px;
left: 586px;
width: 91px;
height: 87px;
opacity: 1;
z-index: 42;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: rgba(255,255,255,0);
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18367 {
position: absolute;
overflow: hidden;
top: 241px;
left: 1232px;
width: 87px;
height: 89px;
opacity: 1;
z-index: 54;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: rgba(255,255,255,0);
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18305 {
position: absolute;
overflow: hidden;
top: 244px;
left: 778px;
width: 91px;
height: 87px;
opacity: 1;
z-index: 63;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: rgba(255,255,255,0);
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18521 {
position: absolute;
overflow: hidden;
top: 371px;
left: 779px;
width: 87px;
height: 89px;
opacity: 1;
z-index: 75;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: rgba(255,255,255,0);
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18457 {
position: absolute;
overflow: hidden;
top: 371px;
left: 1230px;
width: 91px;
height: 87px;
opacity: 1;
z-index: 84;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: rgba(255,255,255,0);
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18683 {
position: absolute;
overflow: hidden;
top: 504px;
left: 1231px;
width: 87px;
height: 89px;
opacity: 1;
z-index: 96;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: rgba(255,255,255,0);
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18617 {
position: absolute;
overflow: hidden;
top: 508px;
left: 778px;
width: 91px;
height: 87px;
opacity: 1;
z-index: 105;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: rgba(255,255,255,0);
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj17645 {
position: absolute;
overflow: hidden;
top: 44px;
left: 611px;
width: 708px;
height: 407px;
opacity: 1;
z-index: 114;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #E96700;
border-width: 6px;
border-style: solid;
border-radius: 20px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj18032 {
position: absolute;
overflow: hidden;
top: 660px;
left: 320px;
width: 108px;
height: 106px;
opacity: 1;
z-index: 116;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj18041 {
position: absolute;
overflow: hidden;
top: 658px;
left: 495px;
width: 108px;
height: 106px;
opacity: 1;
z-index: 117;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj18050 {
position: absolute;
overflow: hidden;
top: 660px;
left: 676px;
width: 108px;
height: 106px;
opacity: 1;
z-index: 118;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj18064 {
position: absolute;
overflow: hidden;
top: 657px;
left: 857px;
width: 108px;
height: 106px;
opacity: 1;
z-index: 119;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj18073 {
position: absolute;
overflow: hidden;
top: 657px;
left: 1037px;
width: 108px;
height: 106px;
opacity: 1;
z-index: 120;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj18027 {
position: absolute;
overflow: hidden;
top: 647px;
left: 302px;
width: 852px;
height: 130px;
opacity: 1;
z-index: 121;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj18024 {
position: absolute;
overflow: hidden;
top: 227px;
left: 100px;
width: 1245px;
height: 406px;
opacity: 1;
z-index: 122;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
