div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}

div#obj16334 {
position: absolute;
overflow: hidden;
top: 384px;
left: -244px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 13;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj16299 {
position: absolute;
overflow: hidden;
top: 78px;
left: 53px;
width: 1319px;
height: 744px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj16299_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1319px;
	height: 744px;
}
div#obj17450 {
position: absolute;
overflow: hidden;
top: 185px;
left: 113px;
width: 1205px;
height: 156px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj17450_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1205px;
	height: 156px;
}
div#obj16301 {
position: absolute;
overflow: hidden;
top: 830px;
left: 0px;
width: 1440px;
height: 71px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj16301_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 71px;
}
div#obj16303 {
position: absolute;
overflow: hidden;
top: 843px;
left: 24px;
width: 50px;
height: 46px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj16303_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 46px;
}
div#obj16306 {
position: absolute;
overflow: hidden;
top: 843px;
left: 1363px;
width: 50px;
height: 45px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj16306_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 45px;
}
div#obj16313 {
position: absolute;
overflow: hidden;
top: 6px;
left: 8px;
width: 106px;
height: 44px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj16313_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 106px;
	height: 44px;
}
div#obj16316 {
position: absolute;
overflow: hidden;
top: 10px;
left: 1325px;
width: 77px;
height: 56px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj16316_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 77px;
	height: 56px;
}
div#obj16322 {
position: absolute;
overflow: hidden;
top: 10px;
left: 1325px;
width: 77px;
height: 56px;
opacity: 1;
z-index: 9;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj16322_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 77px;
	height: 56px;
}
div#obj16488 {
position: absolute;
overflow: hidden;
top: 433px;
left: 648px;
width: 670px;
height: 142px;
opacity: 1;
z-index: 26;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj16488_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 670px;
	height: 142px;
}

div#obj16330 {
position: absolute;
overflow: hidden;
top: 44px;
left: 897px;
width: 413px;
height: 109px;
opacity: 1;
z-index: 11;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-size: 34px;
text-align: center;
}

div#obj16330_content {

}
div#obj16332 {
position: absolute;
overflow: hidden;
top: 109px;
left: 113px;
width: 1245px;
height: 77px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-size: 34px;
text-align: left;
}

div#obj16332_content {

}
div#obj16378 {
position: absolute;
overflow: hidden;
top: 458px;
left: 122px;
width: 65px;
height: 65px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #1F6B89;
border-width: 8px;
border-style: solid;
border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
text-align: center;
}

div#obj16378_content {

}
div#obj16460 {
position: absolute;
overflow: hidden;
top: 218px;
left: 197px;
width: 1106px;
height: 103px;
opacity: 1;
z-index: 25;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;


}

div#obj16460_content {

}
div#obj16697 {
position: absolute;
overflow: hidden;
top: 542px;
left: 122px;
width: 65px;
height: 65px;
opacity: 1;
z-index: 28;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #1F6B89;
border-width: 8px;
border-style: solid;
border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
text-align: center;
}

div#obj16697_content {

}
div#obj16744 {
position: absolute;
overflow: hidden;
top: 458px;
left: 214px;
width: 65px;
height: 65px;
opacity: 1;
z-index: 32;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #1F6B89;
border-width: 8px;
border-style: solid;
border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
text-align: center;
}

div#obj16744_content {

}
div#obj16784 {
position: absolute;
overflow: hidden;
top: 542px;
left: 206px;
width: 81px;
height: 65px;
opacity: 1;
z-index: 35;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #1F6B89;
border-width: 8px;
border-style: solid;
border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
text-align: center;
}

div#obj16784_content {

}
div#obj16813 {
position: absolute;
overflow: hidden;
top: 639px;
left: 368px;
width: 54px;
height: 59px;
opacity: 1;
z-index: 36;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj16813_content {

}
div#obj16825 {
position: absolute;
overflow: hidden;
top: 458px;
left: 307px;
width: 65px;
height: 65px;
opacity: 1;
z-index: 38;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #1F6B89;
border-width: 8px;
border-style: solid;
border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
text-align: center;
}

div#obj16825_content {

}
div#obj20091 {
position: absolute;
overflow: hidden;
top: 458px;
left: 307px;
width: 65px;
height: 65px;
opacity: 1;
z-index: 40;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #1F6B89;
border-width: 8px;
border-style: solid;
border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
text-align: center;
}

div#obj20091_content {

}
div#obj17028 {
position: absolute;
overflow: hidden;
top: 458px;
left: 122px;
width: 65px;
height: 65px;
opacity: 1;
z-index: 45;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #1F6B89;
border-width: 8px;
border-style: solid;
border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
text-align: center;
}

div#obj17028_content {

}
div#obj17191 {
position: absolute;
overflow: hidden;
top: 458px;
left: 214px;
width: 65px;
height: 65px;
opacity: 1;
z-index: 49;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #1F6B89;
border-width: 8px;
border-style: solid;
border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
text-align: center;
}

div#obj17191_content {

}
div#obj17299 {
position: absolute;
overflow: hidden;
top: 542px;
left: 206px;
width: 81px;
height: 65px;
opacity: 1;
z-index: 51;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #1F6B89;
border-width: 8px;
border-style: solid;
border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
text-align: center;
}

div#obj17299_content {

}
div#obj17363 {
position: absolute;
overflow: hidden;
top: 542px;
left: 307px;
width: 65px;
height: 65px;
opacity: 1;
z-index: 53;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
border-color: #1F6B89;
border-width: 8px;
border-style: solid;
border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
text-align: center;
}

div#obj17363_content {

}
div#obj17434 {
position: absolute;
overflow: hidden;
top: 719px;
left: 100px;
width: 620px;
height: 61px;
opacity: 1;
z-index: 54;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;


}

div#obj17434_content {

}
div#obj17436 {
position: absolute;
overflow: hidden;
top: 659px;
left: 527px;
width: 78px;
height: 47px;
opacity: 1;
z-index: 55;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;


}

div#obj17436_content {

}



div#obj16309 {
position: absolute;
overflow: hidden;
top: 0px;
left: 125px;
width: 1315px;
height: 58px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #38B581;
background-repeat: repeat;
}
div#obj16311 {
position: absolute;
overflow: hidden;
top: -1px;
left: 0px;
width: 123px;
height: 58px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #38B581;
background-repeat: repeat;
}
div#obj16328 {
position: absolute;
overflow: hidden;
top: 44px;
left: 889px;
width: 430px;
height: 113px;
opacity: 1;
z-index: 10;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #E96700;
border-width: 6px;
border-style: solid;
border-radius: 20px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj16490 {
position: absolute;
overflow: hidden;
top: 632px;
left: 117px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #1F6B89;
border-width: 8px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj16720 {
position: absolute;
overflow: hidden;
top: 632px;
left: 202px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #1F6B89;
border-width: 8px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj16771 {
position: absolute;
overflow: hidden;
top: 632px;
left: 281px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #1F6B89;
border-width: 8px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj16811 {
position: absolute;
overflow: hidden;
top: 631px;
left: 428px;
width: 89px;
height: 75px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #1F6B89;
border-width: 8px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj16852 {
position: absolute;
overflow: hidden;
top: 566px;
left: 946px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #1F6B89;
border-width: 8px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj16954 {
position: absolute;
overflow: hidden;
top: 365px;
left: 806px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #1F6B89;
border-width: 8px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj17101 {
position: absolute;
overflow: hidden;
top: 365px;
left: 1118px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #1F6B89;
border-width: 8px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj17189 {
position: absolute;
overflow: hidden;
top: 712px;
left: 439px;
width: 89px;
height: 75px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #1F6B89;
border-width: 8px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj16466 {
position: absolute;
overflow: hidden;
top: 455px;
left: 118px;
width: 72px;
height: 72px;
opacity: 1;
z-index: 22;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #E96700;
background-repeat: repeat;
}
div#obj16462 {
position: absolute;
overflow: hidden;
top: 201px;
left: 132px;
width: 1172px;
height: 125px;
opacity: 1;
z-index: 24;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj16717 {
position: absolute;
overflow: hidden;
top: 539px;
left: 118px;
width: 72px;
height: 72px;
opacity: 1;
z-index: 27;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #E96700;
background-repeat: repeat;
}
div#obj16724 {
position: absolute;
overflow: hidden;
top: 632px;
left: 117px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 29;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #1F6B89;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj16726 {
position: absolute;
overflow: hidden;
top: 632px;
left: 202px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 30;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #1F6B89;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj16768 {
position: absolute;
overflow: hidden;
top: 455px;
left: 210px;
width: 72px;
height: 72px;
opacity: 1;
z-index: 31;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #E96700;
background-repeat: repeat;
}
div#obj16742 {
position: absolute;
overflow: hidden;
top: 632px;
left: 281px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 33;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #1F6B89;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj16808 {
position: absolute;
overflow: hidden;
top: 539px;
left: 202px;
width: 89px;
height: 72px;
opacity: 1;
z-index: 34;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #E96700;
background-repeat: repeat;
}
div#obj16849 {
position: absolute;
overflow: hidden;
top: 455px;
left: 303px;
width: 75px;
height: 72px;
opacity: 1;
z-index: 37;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #E96700;
background-repeat: repeat;
}
div#obj20114 {
position: absolute;
overflow: hidden;
top: 455px;
left: 303px;
width: 75px;
height: 72px;
opacity: 1;
z-index: 39;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #E96700;
background-repeat: repeat;
}
div#obj16823 {
position: absolute;
overflow: hidden;
top: 566px;
left: 946px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 41;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #1F6B89;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj16952 {
position: absolute;
overflow: hidden;
top: 365px;
left: 806px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 42;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #1F6B89;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj16782 {
position: absolute;
overflow: hidden;
top: 631px;
left: 428px;
width: 89px;
height: 75px;
opacity: 1;
z-index: 43;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #1F6B89;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj17072 {
position: absolute;
overflow: hidden;
top: 455px;
left: 118px;
width: 72px;
height: 72px;
opacity: 1;
z-index: 44;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #E96700;
background-repeat: repeat;
}
div#obj17099 {
position: absolute;
overflow: hidden;
top: 365px;
left: 1118px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 46;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #1F6B89;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj17187 {
position: absolute;
overflow: hidden;
top: 712px;
left: 439px;
width: 89px;
height: 75px;
opacity: 1;
z-index: 47;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #1F6B89;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj17224 {
position: absolute;
overflow: hidden;
top: 455px;
left: 210px;
width: 72px;
height: 72px;
opacity: 1;
z-index: 48;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #E96700;
background-repeat: repeat;
}
div#obj17340 {
position: absolute;
overflow: hidden;
top: 539px;
left: 202px;
width: 89px;
height: 72px;
opacity: 1;
z-index: 50;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #E96700;
background-repeat: repeat;
}
div#obj17386 {
position: absolute;
overflow: hidden;
top: 539px;
left: 303px;
width: 75px;
height: 72px;
opacity: 1;
z-index: 52;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #E96700;
background-repeat: repeat;
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
