div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj53 {
position: absolute;
overflow: hidden;
top: 6px;
left: 0px;
width: 1440px;
height: 992px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj53_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 992px;
}
div#obj38 {
position: absolute;
overflow: hidden;
top: 834px;
left: 0px;
width: 1440px;
height: 71px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj38_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 71px;
}
div#obj40 {
position: absolute;
overflow: hidden;
top: 843px;
left: 24px;
width: 50px;
height: 46px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj40_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 46px;
}
div#obj42 {
position: absolute;
overflow: hidden;
top: 843px;
left: 1363px;
width: 50px;
height: 45px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj42_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 45px;
}
div#obj50 {
position: absolute;
overflow: hidden;
top: -3px;
left: 16px;
width: 204px;
height: 63px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj50_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 204px;
	height: 63px;
}
div#obj57 {
position: absolute;
overflow: hidden;
top: 393px;
left: 1019px;
width: 320px;
height: 327px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj57_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 320px;
	height: 327px;
}
div#obj61 {
position: absolute;
overflow: hidden;
top: 76px;
left: 777px;
width: 320px;
height: 327px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj61_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 320px;
	height: 327px;
}
div#obj63 {
position: absolute;
overflow: hidden;
top: 66px;
left: 382px;
width: 320px;
height: 327px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj63_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 320px;
	height: 327px;
}
div#obj65 {
position: absolute;
overflow: hidden;
top: 379px;
left: 136px;
width: 328px;
height: 327px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj65_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 328px;
	height: 327px;
}

div#obj70 {
position: absolute;
overflow: hidden;
top: 76px;
left: 777px;
width: 320px;
height: 327px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj70_content {

}
div#obj72 {
position: absolute;
overflow: hidden;
top: 385px;
left: 1019px;
width: 320px;
height: 327px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj72_content {

}
div#obj74 {
position: absolute;
overflow: hidden;
top: 66px;
left: 382px;
width: 320px;
height: 327px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj74_content {

}
div#obj76 {
position: absolute;
overflow: hidden;
top: 379px;
left: 136px;
width: 320px;
height: 327px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj76_content {

}



div#obj46 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 1440px;
height: 58px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #38B581;
background-repeat: repeat;
}
div#obj48 {
position: absolute;
overflow: hidden;
top: 10px;
left: 0px;
width: 1440px;
height: 38px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFECC2;
background-repeat: repeat;
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
