div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}

div#obj2462 {
position: absolute;
overflow: hidden;
top: 384px;
left: -244px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 12;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj2897 {
position: absolute;
overflow: hidden;
top: 98px;
left: 1511px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 20;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj2902 {
position: absolute;
overflow: hidden;
top: 202px;
left: 1516px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 28;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj2977 {
position: absolute;
overflow: hidden;
top: 309px;
left: 1511px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 36;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj3089 {
position: absolute;
overflow: hidden;
top: 409px;
left: 1516px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 44;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj3148 {
position: absolute;
overflow: hidden;
top: 206px;
left: 2010px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 52;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj3204 {
position: absolute;
overflow: hidden;
top: 309px;
left: 2009px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 60;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj3260 {
position: absolute;
overflow: hidden;
top: 408px;
left: 2012px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 68;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj3316 {
position: absolute;
overflow: hidden;
top: 101px;
left: 2010px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 76;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj2427 {
position: absolute;
overflow: hidden;
top: 78px;
left: 53px;
width: 1319px;
height: 744px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj2427_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1319px;
	height: 744px;
}
div#obj2429 {
position: absolute;
overflow: hidden;
top: 830px;
left: 0px;
width: 1440px;
height: 71px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj2429_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 71px;
}
div#obj2431 {
position: absolute;
overflow: hidden;
top: 843px;
left: 24px;
width: 50px;
height: 46px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj2431_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 46px;
}
div#obj2434 {
position: absolute;
overflow: hidden;
top: 843px;
left: 1363px;
width: 50px;
height: 45px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj2434_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 45px;
}
div#obj2441 {
position: absolute;
overflow: hidden;
top: 6px;
left: 8px;
width: 106px;
height: 44px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj2441_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 106px;
	height: 44px;
}
div#obj2444 {
position: absolute;
overflow: hidden;
top: 10px;
left: 1325px;
width: 77px;
height: 56px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj2444_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 77px;
	height: 56px;
}
div#obj2450 {
position: absolute;
overflow: hidden;
top: 10px;
left: 1325px;
width: 77px;
height: 56px;
opacity: 1;
z-index: 8;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj2450_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 77px;
	height: 56px;
}

div#obj2458 {
position: absolute;
overflow: hidden;
top: 44px;
left: 897px;
width: 413px;
height: 109px;
opacity: 1;
z-index: 10;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-size: 34px;
text-align: center;
}

div#obj2458_content {

}
div#obj2460 {
position: absolute;
overflow: hidden;
top: 109px;
left: 113px;
width: 1245px;
height: 77px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-size: 34px;
text-align: left;
}

div#obj2460_content {

}
div#obj2799 {
position: absolute;
overflow: hidden;
top: 228px;
left: 191px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj2799_content {

}
div#obj2806 {
position: absolute;
overflow: hidden;
top: 228px;
left: 296px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj2806_content {

}
div#obj2813 {
position: absolute;
overflow: hidden;
top: 228px;
left: 405px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj2813_content {

}
div#obj2820 {
position: absolute;
overflow: hidden;
top: 280px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj2820_content {

}
div#obj2848 {
position: absolute;
overflow: hidden;
top: 367px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj2848_content {

}
div#obj2855 {
position: absolute;
overflow: hidden;
top: 455px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj2855_content {

}
div#obj2948 {
position: absolute;
overflow: hidden;
top: 333px;
left: 191px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj2948_content {

}
div#obj2936 {
position: absolute;
overflow: hidden;
top: 333px;
left: 296px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 22;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj2936_content {

}
div#obj2933 {
position: absolute;
overflow: hidden;
top: 333px;
left: 405px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj2933_content {

}
div#obj2926 {
position: absolute;
overflow: hidden;
top: 280px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 24;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj2926_content {

}
div#obj2916 {
position: absolute;
overflow: hidden;
top: 367px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 25;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj2916_content {

}
div#obj2909 {
position: absolute;
overflow: hidden;
top: 455px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 26;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj2909_content {

}
div#obj3028 {
position: absolute;
overflow: hidden;
top: 439px;
left: 191px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 29;
display:block;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3028_content {

}
div#obj3015 {
position: absolute;
overflow: hidden;
top: 439px;
left: 296px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 30;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3015_content {

}
div#obj3012 {
position: absolute;
overflow: hidden;
top: 439px;
left: 405px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 31;
display:block;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3012_content {

}
div#obj3003 {
position: absolute;
overflow: hidden;
top: 280px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 32;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3003_content {

}
div#obj2993 {
position: absolute;
overflow: hidden;
top: 367px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 33;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj2993_content {

}
div#obj2984 {
position: absolute;
overflow: hidden;
top: 455px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 34;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj2984_content {

}
div#obj3141 {
position: absolute;
overflow: hidden;
top: 540px;
left: 191px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 37;
display:block;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3141_content {

}
div#obj3127 {
position: absolute;
overflow: hidden;
top: 540px;
left: 296px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 38;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3127_content {

}
div#obj3124 {
position: absolute;
overflow: hidden;
top: 540px;
left: 405px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 39;
display:block;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3124_content {

}
div#obj3114 {
position: absolute;
overflow: hidden;
top: 280px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 40;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3114_content {

}
div#obj3105 {
position: absolute;
overflow: hidden;
top: 367px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 41;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3105_content {

}
div#obj3096 {
position: absolute;
overflow: hidden;
top: 455px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 42;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3096_content {

}
div#obj3201 {
position: absolute;
overflow: hidden;
top: 336px;
left: 690px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 45;
display:block;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3201_content {

}
div#obj3186 {
position: absolute;
overflow: hidden;
top: 336px;
left: 795px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 46;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3186_content {

}
div#obj3183 {
position: absolute;
overflow: hidden;
top: 336px;
left: 904px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 47;
display:block;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3183_content {

}
div#obj3174 {
position: absolute;
overflow: hidden;
top: 280px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 48;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3174_content {

}
div#obj3164 {
position: absolute;
overflow: hidden;
top: 367px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 49;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3164_content {

}
div#obj3155 {
position: absolute;
overflow: hidden;
top: 455px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 50;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3155_content {

}
div#obj3257 {
position: absolute;
overflow: hidden;
top: 439px;
left: 689px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 53;
display:block;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3257_content {

}
div#obj3242 {
position: absolute;
overflow: hidden;
top: 439px;
left: 794px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 54;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3242_content {

}
div#obj3239 {
position: absolute;
overflow: hidden;
top: 439px;
left: 903px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 55;
display:block;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3239_content {

}
div#obj3230 {
position: absolute;
overflow: hidden;
top: 280px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 56;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3230_content {

}
div#obj3220 {
position: absolute;
overflow: hidden;
top: 367px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 57;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3220_content {

}
div#obj3211 {
position: absolute;
overflow: hidden;
top: 455px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 58;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3211_content {

}
div#obj3313 {
position: absolute;
overflow: hidden;
top: 538px;
left: 692px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 61;
display:block;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3313_content {

}
div#obj3298 {
position: absolute;
overflow: hidden;
top: 538px;
left: 797px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 62;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3298_content {

}
div#obj3295 {
position: absolute;
overflow: hidden;
top: 538px;
left: 906px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 63;
display:block;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3295_content {

}
div#obj3286 {
position: absolute;
overflow: hidden;
top: 280px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 64;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3286_content {

}
div#obj3276 {
position: absolute;
overflow: hidden;
top: 367px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 65;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3276_content {

}
div#obj3267 {
position: absolute;
overflow: hidden;
top: 455px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 66;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3267_content {

}
div#obj3369 {
position: absolute;
overflow: hidden;
top: 231px;
left: 690px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 69;
display:block;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3369_content {

}
div#obj3354 {
position: absolute;
overflow: hidden;
top: 231px;
left: 795px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 70;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3354_content {

}
div#obj3351 {
position: absolute;
overflow: hidden;
top: 231px;
left: 904px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 71;
display:block;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3351_content {

}
div#obj3342 {
position: absolute;
overflow: hidden;
top: 280px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 72;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3342_content {

}
div#obj3332 {
position: absolute;
overflow: hidden;
top: 367px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 73;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3332_content {

}
div#obj3323 {
position: absolute;
overflow: hidden;
top: 455px;
left: 1204px;
width: 75px;
height: 75px;
opacity: 1;
z-index: 74;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

background-color: #FFFFFF;
font-size: 40px;
text-align: center;
}

div#obj3323_content {

}



div#obj2437 {
position: absolute;
overflow: hidden;
top: 0px;
left: 125px;
width: 1315px;
height: 58px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #38B581;
background-repeat: repeat;
}
div#obj2439 {
position: absolute;
overflow: hidden;
top: -1px;
left: 0px;
width: 123px;
height: 58px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #38B581;
background-repeat: repeat;
}
div#obj2456 {
position: absolute;
overflow: hidden;
top: 44px;
left: 889px;
width: 430px;
height: 113px;
opacity: 1;
z-index: 9;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #E96700;
border-width: 6px;
border-style: solid;
border-radius: 20px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj2891 {
position: absolute;
overflow: hidden;
top: 207px;
left: 178px;
width: 328px;
height: 111px;
opacity: 1;
z-index: 19;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj2907 {
position: absolute;
overflow: hidden;
top: 312px;
left: 178px;
width: 328px;
height: 111px;
opacity: 1;
z-index: 27;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj2982 {
position: absolute;
overflow: hidden;
top: 418px;
left: 178px;
width: 328px;
height: 111px;
opacity: 1;
z-index: 35;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj3094 {
position: absolute;
overflow: hidden;
top: 519px;
left: 178px;
width: 328px;
height: 111px;
opacity: 1;
z-index: 43;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj3153 {
position: absolute;
overflow: hidden;
top: 315px;
left: 677px;
width: 328px;
height: 111px;
opacity: 1;
z-index: 51;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj3209 {
position: absolute;
overflow: hidden;
top: 418px;
left: 676px;
width: 328px;
height: 111px;
opacity: 1;
z-index: 59;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj3265 {
position: absolute;
overflow: hidden;
top: 517px;
left: 679px;
width: 328px;
height: 111px;
opacity: 1;
z-index: 67;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj3321 {
position: absolute;
overflow: hidden;
top: 210px;
left: 677px;
width: 328px;
height: 111px;
opacity: 1;
z-index: 75;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj2873 {
position: absolute;
overflow: hidden;
top: 265px;
left: 1191px;
width: 99px;
height: 94px;
opacity: 1;
z-index: 77;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj2876 {
position: absolute;
overflow: hidden;
top: 357px;
left: 1191px;
width: 99px;
height: 94px;
opacity: 1;
z-index: 78;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj2878 {
position: absolute;
overflow: hidden;
top: 445px;
left: 1191px;
width: 99px;
height: 94px;
opacity: 1;
z-index: 79;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj2864 {
position: absolute;
overflow: hidden;
top: 189px;
left: 138px;
width: 1054px;
height: 587px;
opacity: 1;
z-index: 80;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
