div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}

div#obj4303 {
position: absolute;
overflow: hidden;
top: 596px;
left: -216px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 30;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj4310 {
position: absolute;
overflow: hidden;
top: 471px;
left: -211px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 31;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj4317 {
position: absolute;
overflow: hidden;
top: 345px;
left: -207px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 32;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj4174 {
position: absolute;
overflow: hidden;
top: 830px;
left: 0px;
width: 1440px;
height: 71px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj4174_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 71px;
}
div#obj4176 {
position: absolute;
overflow: hidden;
top: 843px;
left: 24px;
width: 50px;
height: 46px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj4176_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 46px;
}
div#obj4186 {
position: absolute;
overflow: hidden;
top: 6px;
left: 8px;
width: 106px;
height: 44px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj4186_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 106px;
	height: 44px;
}
div#obj4191 {
position: absolute;
overflow: hidden;
top: 241px;
left: 72px;
width: 532px;
height: 532px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj4191_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 532px;
	height: 532px;
}
div#obj4199 {
position: absolute;
overflow: hidden;
top: 240px;
left: 751px;
width: 532px;
height: 532px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj4199_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 532px;
	height: 532px;
}
div#obj4207 {
position: absolute;
overflow: hidden;
top: 10px;
left: 1325px;
width: 77px;
height: 56px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj4207_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 77px;
	height: 56px;
}
div#obj4213 {
position: absolute;
overflow: hidden;
top: 10px;
left: 1325px;
width: 77px;
height: 56px;
opacity: 1;
z-index: 9;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj4213_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 77px;
	height: 56px;
}
div#obj4223 {
position: absolute;
overflow: hidden;
top: 241px;
left: 72px;
width: 532px;
height: 532px;
opacity: 1;
z-index: 12;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj4223_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 532px;
	height: 532px;
}
div#obj4263 {
position: absolute;
overflow: hidden;
top: 241px;
left: 753px;
width: 532px;
height: 532px;
opacity: 1;
z-index: 21;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj4263_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 532px;
	height: 532px;
}
div#obj4507 {
position: absolute;
overflow: hidden;
top: 235px;
left: 68px;
width: 541px;
height: 542px;
opacity: 1;
z-index: 33;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj4507_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 541px;
	height: 542px;
}
div#obj4511 {
position: absolute;
overflow: hidden;
top: 234px;
left: 746px;
width: 541px;
height: 542px;
opacity: 1;
z-index: 34;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj4511_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 541px;
	height: 542px;
}

div#obj4189 {
position: absolute;
overflow: hidden;
top: 130px;
left: 72px;
width: 711px;
height: 56px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto";
font-size: 38px;
}

div#obj4189_content {

}
div#obj4221 {
position: absolute;
overflow: hidden;
top: 44px;
left: 897px;
width: 413px;
height: 109px;
opacity: 1;
z-index: 11;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-size: 34px;
text-align: center;
}

div#obj4221_content {

}
div#obj4225 {
position: absolute;
overflow: hidden;
top: 380px;
left: 235px;
width: 193px;
height: 53px;
opacity: 1;
z-index: 13;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto-Black";
font-size: 46px;
text-align: center;
}

div#obj4225_content {

}
div#obj4232 {
position: absolute;
overflow: hidden;
top: 445px;
left: 235px;
width: 193px;
height: 53px;
opacity: 1;
z-index: 14;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto-Black";
font-size: 46px;
text-align: center;
}

div#obj4232_content {

}
div#obj4239 {
position: absolute;
overflow: hidden;
top: 511px;
left: 235px;
width: 193px;
height: 53px;
opacity: 1;
z-index: 15;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto-Black";
font-size: 46px;
text-align: center;
}

div#obj4239_content {

}
div#obj4246 {
position: absolute;
overflow: hidden;
top: 578px;
left: 235px;
width: 193px;
height: 53px;
opacity: 1;
z-index: 16;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto-Black";
font-size: 46px;
text-align: center;
}

div#obj4246_content {

}
div#obj4265 {
position: absolute;
overflow: hidden;
top: 380px;
left: 916px;
width: 193px;
height: 53px;
opacity: 1;
z-index: 22;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto-Black";
font-size: 46px;
text-align: center;
}

div#obj4265_content {

}
div#obj4272 {
position: absolute;
overflow: hidden;
top: 445px;
left: 916px;
width: 193px;
height: 53px;
opacity: 1;
z-index: 23;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto-Black";
font-size: 46px;
text-align: center;
}

div#obj4272_content {

}
div#obj4279 {
position: absolute;
overflow: hidden;
top: 511px;
left: 916px;
width: 193px;
height: 53px;
opacity: 1;
z-index: 24;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto-Black";
font-size: 46px;
text-align: center;
}

div#obj4279_content {

}
div#obj4286 {
position: absolute;
overflow: hidden;
top: 578px;
left: 916px;
width: 193px;
height: 53px;
opacity: 1;
z-index: 25;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto-Black";
font-size: 46px;
text-align: center;
}

div#obj4286_content {

}



div#obj4182 {
position: absolute;
overflow: hidden;
top: 0px;
left: 125px;
width: 1315px;
height: 58px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #38B581;
background-repeat: repeat;
}
div#obj4184 {
position: absolute;
overflow: hidden;
top: -1px;
left: 0px;
width: 123px;
height: 58px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #38B581;
background-repeat: repeat;
}
div#obj4219 {
position: absolute;
overflow: hidden;
top: 44px;
left: 889px;
width: 430px;
height: 113px;
opacity: 1;
z-index: 10;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #E96700;
border-width: 6px;
border-style: solid;
border-radius: 20px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj4253 {
position: absolute;
overflow: hidden;
top: 445px;
left: 266px;
width: 144px;
height: 53px;
opacity: 1;
z-index: 17;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj4255 {
position: absolute;
overflow: hidden;
top: 511px;
left: 259px;
width: 144px;
height: 53px;
opacity: 1;
z-index: 18;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj4257 {
position: absolute;
overflow: hidden;
top: 577px;
left: 259px;
width: 144px;
height: 53px;
opacity: 1;
z-index: 19;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj4259 {
position: absolute;
overflow: hidden;
top: 380px;
left: 263px;
width: 144px;
height: 53px;
opacity: 1;
z-index: 20;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj4293 {
position: absolute;
overflow: hidden;
top: 445px;
left: 947px;
width: 144px;
height: 53px;
opacity: 1;
z-index: 26;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj4295 {
position: absolute;
overflow: hidden;
top: 511px;
left: 940px;
width: 144px;
height: 53px;
opacity: 1;
z-index: 27;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj4297 {
position: absolute;
overflow: hidden;
top: 577px;
left: 940px;
width: 144px;
height: 53px;
opacity: 1;
z-index: 28;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj4299 {
position: absolute;
overflow: hidden;
top: 380px;
left: 944px;
width: 144px;
height: 53px;
opacity: 1;
z-index: 29;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
