div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj13417 {
position: absolute;
overflow: hidden;
top: 556px;
left: 1057px;
width: 365px;
height: 367px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj13417_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 365px;
	height: 367px;
}
div#obj13366 {
position: absolute;
overflow: hidden;
top: 828px;
left: 0px;
width: 1440px;
height: 71px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj13366_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 71px;
}
div#obj13368 {
position: absolute;
overflow: hidden;
top: 843px;
left: 24px;
width: 50px;
height: 46px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj13368_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 46px;
}
div#obj13371 {
position: absolute;
overflow: hidden;
top: 843px;
left: 1363px;
width: 50px;
height: 45px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj13371_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 45px;
}
div#obj13378 {
position: absolute;
overflow: hidden;
top: 6px;
left: 8px;
width: 106px;
height: 44px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj13378_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 106px;
	height: 44px;
}
div#obj13406 {
position: absolute;
overflow: hidden;
top: 408px;
left: 475px;
width: 116px;
height: 65px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj13406_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 116px;
	height: 65px;
}
div#obj13411 {
position: absolute;
overflow: hidden;
top: 419px;
left: 769px;
width: 26px;
height: 51px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj13411_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 26px;
	height: 51px;
}
div#obj13414 {
position: absolute;
overflow: hidden;
top: 403px;
left: 986px;
width: 72px;
height: 75px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: none;
-webkit-transform: rotate(-12.83123deg);
-moz-transform: rotate(-12.83123deg);
transform: rotate(-12.83123deg);

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj13414_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 75px;
}

div#obj13381 {
position: absolute;
overflow: hidden;
top: 88px;
left: 28px;
width: 628px;
height: 51px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-size: 34px;
}

div#obj13381_content {

}
div#obj13383 {
position: absolute;
overflow: hidden;
top: 307px;
left: 544px;
width: 469px;
height: 108px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj13383_content {

}
div#obj13391 {
position: absolute;
overflow: hidden;
top: 443px;
left: 321px;
width: 239px;
height: 124px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto-Bold";
color: #E96700;
text-align: center;
}

div#obj13391_content {

}
div#obj13397 {
position: absolute;
overflow: hidden;
top: 458px;
left: 679px;
width: 206px;
height: 111px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto-Bold";
color: #E96700;
text-align: center;
}

div#obj13397_content {

}
div#obj13401 {
position: absolute;
overflow: hidden;
top: 450px;
left: 978px;
width: 206px;
height: 112px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto-Bold";
color: #E96700;
text-align: center;
}

div#obj13401_content {

}



div#obj13374 {
position: absolute;
overflow: hidden;
top: 0px;
left: 125px;
width: 1315px;
height: 58px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #38B581;
background-repeat: repeat;
}
div#obj13376 {
position: absolute;
overflow: hidden;
top: -1px;
left: 0px;
width: 123px;
height: 58px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #38B581;
background-repeat: repeat;
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
