div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj12605 {
position: absolute;
overflow: hidden;
top: 492px;
left: 1008px;
width: 431px;
height: 449px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj12605_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 431px;
	height: 449px;
}
div#obj12607 {
position: absolute;
overflow: hidden;
top: 828px;
left: 0px;
width: 1440px;
height: 71px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj12607_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 71px;
}
div#obj12609 {
position: absolute;
overflow: hidden;
top: 843px;
left: 24px;
width: 50px;
height: 46px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj12609_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 46px;
}
div#obj12612 {
position: absolute;
overflow: hidden;
top: 843px;
left: 1363px;
width: 50px;
height: 45px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj12612_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 45px;
}
div#obj12619 {
position: absolute;
overflow: hidden;
top: 6px;
left: 8px;
width: 106px;
height: 44px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj12619_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 106px;
	height: 44px;
}
div#obj12662 {
position: absolute;
overflow: hidden;
top: 319px;
left: 414px;
width: 209px;
height: 140px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: none;
-webkit-transform: rotate(121.5153deg);
-moz-transform: rotate(121.5153deg);
transform: rotate(121.5153deg);

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj12662_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 209px;
	height: 140px;
}
div#obj12673 {
position: absolute;
overflow: hidden;
top: 327px;
left: 632px;
width: 185px;
height: 135px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: none;
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
transform: rotate(90deg);

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj12673_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 185px;
	height: 135px;
}
div#obj12679 {
position: absolute;
overflow: hidden;
top: 299px;
left: 827px;
width: 217px;
height: 155px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: none;
-webkit-transform: rotate(62.95247deg);
-moz-transform: rotate(62.95247deg);
transform: rotate(62.95247deg);

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj12679_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 217px;
	height: 155px;
}

div#obj12622 {
position: absolute;
overflow: hidden;
top: 88px;
left: 28px;
width: 628px;
height: 51px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-size: 34px;
}

div#obj12622_content {

}
div#obj12642 {
position: absolute;
overflow: hidden;
top: 226px;
left: 486px;
width: 469px;
height: 116px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

text-align: center;
}

div#obj12642_content {

}
div#obj12667 {
position: absolute;
overflow: hidden;
top: 460px;
left: 355px;
width: 206px;
height: 124px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

color: #E96700;
text-align: center;
}

div#obj12667_content {

}
div#obj12669 {
position: absolute;
overflow: hidden;
top: 456px;
left: 618px;
width: 206px;
height: 124px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

color: #E96700;
text-align: center;
}

div#obj12669_content {

}
div#obj12675 {
position: absolute;
overflow: hidden;
top: 452px;
left: 866px;
width: 206px;
height: 124px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

color: #E96700;
text-align: center;
}

div#obj12675_content {

}



div#obj12615 {
position: absolute;
overflow: hidden;
top: 0px;
left: 125px;
width: 1315px;
height: 58px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #38B581;
background-repeat: repeat;
}
div#obj12617 {
position: absolute;
overflow: hidden;
top: -1px;
left: 0px;
width: 123px;
height: 58px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #38B581;
background-repeat: repeat;
}
div#obj12650 {
position: absolute;
overflow: hidden;
top: 512px;
left: 513px;
width: 98px;
height: 88px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #FFFFFF;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj12665 {
position: absolute;
overflow: hidden;
top: 465px;
left: 355px;
width: 200px;
height: 113px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.6078431));
will-change: filter;
-webkit-filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.6078431));
background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12671 {
position: absolute;
overflow: hidden;
top: 461px;
left: 618px;
width: 200px;
height: 113px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.6078431));
will-change: filter;
-webkit-filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.6078431));
background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12677 {
position: absolute;
overflow: hidden;
top: 457px;
left: 866px;
width: 200px;
height: 113px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.6078431));
will-change: filter;
-webkit-filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.6078431));
background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
